<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Nombre y clasificación de las especies</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Clasificación</th>
            </tr>
        </thead>
        <tbody>
            {% for s in data %}
            <tr>
                <td>{{ s.name }}</td>
                <td>{{ s.classification }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p>
        <a href="{{ url_for('index') }}">Volver al índice</a>
    </p>
    
</body>
</html>